.about {
  padding: 20px 150px 50px 150px;
  background-color: var(--gray);
}

.about__titulo {
  font-size: 18px;
  font-style: italic;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  display: block;
  width: fit-content;
}

.about__titulo::before {
  content: '';
  position: absolute;
  width: calc(50px + 100%);
  height: 3px;
  background-color: var(--blue);
  bottom: 5px;
  right: 15px;
}

.about__text {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
  word-spacing: 4px;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .about {
   padding: 10px;
  }

  .about__titulo {
    font-size: 14px;
  }

  .about__text {
    font-size: 12px;
  }
}
