.header {
  width: 100%;
  padding: 50px 140px;
}

.header__presentation {
  margin: 0 auto;
  background-color: var(--blue);
  padding: 20px 20px 25px 150px;
  position: relative;
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-family: var(--primary-font);
  font-size: 18px;
  border-radius: 20px;
}

.header__avatar {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  object-fit: cover;
  position: absolute;
  top: -35px;    
  left: -16px;    
}


