.contact {
  width: 100%;
  padding: 20px 150px 50px 150px; 
}

@media (max-width: 768px) {
  .contact {
   padding: 10px;
  }
}

.contact__titulo {
  font-size: 18px;
  font-style: italic;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  display: block;
  width: fit-content;
}

@media (max-width: 768px) {
  .contact__titulo {
    font-size: 14px;
  }
}

.contact__titulo::before {
  content: '';
  position: absolute;
  width: calc(50px + 100%);
  height: 3px;
  background-color: var(--blue);
  bottom: 5px;
  right: 15px;
}

.contact__links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .contact__links {
    flex-direction: column;
    align-items: center; 
  }
}
